*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

.navbar{
    width:100%;
    background-color: cornflowerblue;
    position: fixed;
}
.navbar .table{
    width:900px;
    display: flex;
    justify-content: space-between;
    margin:15px auto;
}
.navbar .table .logo a{
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.navbar .table .menu a:hover{
    color: darkblue;
}
.navbar .table .logo span{
color:black;
}
.navbar .table .menu{
padding-top:10px ;
}
.navbar .table .menu li{
    display: inline-block;
}
.navbar .table .menu li a{
    color: white;
    font-size: 20px;
    font-weight: 150;
    margin-left: 20px;
    transition: color 2s;

}
/*deuxieme partie*/
.debut{
    background: url("ISI.jpg.JPG") 50%;
    height: 1000px;
    display: flex;
    font-family: 'algerian';
}
.debut .sec{
    margin: auto 120px;
}
.debut .debut-trav .text1{
    font-size: 40px;
    font-weight: 600;
}
.debut .debut-trav .text2{
    color: cornflowerblue;
    font-size: 50px;
    font-weight: 500;
}
.debut .debut-trav .text3{
    font-size: 55px;
    font-weight: 600;
}
.debut .debut-trav .text3 span{
    color: cornflowerblue;
}
.debut .debut-trav .click{
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    background-color: cornflowerblue;
    border:2px solid cornflowerblue;
    border-radius: 20px;
    padding:10px 40px;
    display: inline-block;
}
.debut .debut-trav .click:hover{
    background: none;
}
.debut-a{
    padding: 50px 100px;
}
.debut-a .titre{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline cornflowerblue;
    font-family: 'algerian';
}
.debut-a .debut-trav-a .col-right span{
    color: cornflowerblue;
}
.debut-a .debut-trav-a .col-right div{
    font-size:40px;
    font-weight: 600;
}
.debut-a .debut-trav-a .col-right p{
  font-size: 20px;
  text-align: justify;  
}
.debut-a .debut-trav-a .col-right a{
    font-size: 40px;
    font-weight: 200;
    color: white;
    background-color: cornflowerblue;
    border:2px solid cornflowerblue;
    border-radius: 20px;
    padding:10px 40px;
    display: inline-block;
}
.debut-a .debut-trav-a .col-right a:hover{
    background: none;
    color: cornflowerblue;
}
.debut-trav-a .col-right{
    width: 55%;
}
.debut-a .debut-trav-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.debut-trav-a .col-left{
    width: 45%;
}
.debut-trav-a .col-left img{
    width: 450px;
    height: 600px;
    border-radius: 6px;
    object-fit: cover;
}
 /*deuxieme partie 2*/
 .about{
     background: cornflowerblue;
     color: white;
     height: 550px;
 }
.about .title{
    text-decoration: underline darkblue;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
    font-family: 'algerian';
}
 .about .tmr-cont .block{
     width: calc(30% - 30px);
     text-align: center;
     display: inline-block;
     padding: 20px 15px;
     border-right: 5px solid darkblue;
     font-size: 20px;
     margin: 15px 10px;
 }
 .about .tmr-cont .block:hover{
    background: gray;
    transition: all 1s;
 }
 .about .tmr-cont .block .des, .anas, .web{
    font-size: 38px;
    font-weight: 500;
    color: darkblue;
 }
 .paint img{
     width:10%;
 }
 













 /*troisieme partie*/
 .Ekip{
    background: cornflowerblue;
    color: cornflowerblue;
    height: 700px;
}
.Ekip .title-1{
   text-decoration: underline darkblue;
   color:black;
   text-align: center;
   font-size: 40px;
   font-weight: 600;
   padding: 20px;
   background-color: white;
   margin-top: 30px;
   font-family: 'algerian';
}
.Ekip .tmr-cont-1 .block-1{
    width: calc(30% - 30px);
    text-align: center;
    display: inline-block;
    padding: 20px 15px;
    color: black;
    border-right: 5px solid darkcyan;
     font-size: 25px;
     margin: 30px 15px;
}
.Ekip .tmr-cont-1 .block-1:hover{
    background: whitesmoke;
    transition: all 1s;

}


.Ekip .tmr-cont-1 .flex-1 .imgt img{
    width: 15%;
    border: 5px solid blue;
    border-radius: 20px;
}
.Ekip .tmr-cont-1 .flex-1 .imga img{
    width: 15%;
    border: 5px solid blue;
    border-radius: 20px;
}
.Ekip .tmr-cont-1 .flex-1 .imgs img{
    width: 15%;
    border: 5px solid blue;
    border-radius: 20px;
}

/*quatrieme partie*/

.contact{
    color: black;
    height: 900px;
}
.contact .nom{
   color:cornflowerblue;
   text-align: center;
   font-size: 40px;
   font-weight: 600;
   padding: 20px;
   background-color: white;
   margin-top: 30px;
   text-decoration: underline;
   font-family: 'algerian';
}
.contact .nom-cont-1 .vision-1{
    width: calc(30% - 30px);
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 20px;
    display: inline-flex;
}
.mail{
    display: inline-flex;
    justify-content: space-between;
}

.get span{
    font-size: 25px;
    color: cornflowerblue;
    font-family: 'algerian';
}
.ISI{
    background-color: cornflowerblue;
    font-size: 25px;
}
.ISI P{
    font-family: sans-serif;
}
.desc, .mess{
    font-size: 25px;
    color: cornflowerblue;
    font-family: 'algerian';
}
.bvh{
    font-size: 20px;
    color: black;
    background: cornflowerblue;

}
